.character {
    width: fit-content;
    background-color: var(--color-main);
    border: 3px solid var(--color-text-extra);
    text-align: center;
    max-width: 150px;
}

.character-img {
    object-fit: cover;
    width: 100%;
}

.character-name {
    font-size: var(--text-size-medium);
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    padding: 0.5rem;
}

.character-info {
    padding: 0.5rem;
    > * {
        font-size: var(--text-size-small);
        letter-spacing: 0.01rem;
        line-height: 1.5;
    }
}