.error-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.error-page-404 {
    font-size: 5rem;
    color: var(--color-text-white);
    font-weight: 700;
}

.error-page-message {
    font-size: var(--text-size-default);
    color: var(--color-text-white);
    letter-spacing: 0.1rem;
}